.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
}

.submit-button {
  margin-top: 40px;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.counter {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: max-content;
}

.input-container {
  display: grid;
  grid-template-areas:
    "label input"
    "error error";
  grid-template-columns: 1fr 2fr;
  row-gap: 4px;
  column-gap: 16px;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.label {
  grid-area: label;
  justify-self: start;
  display: flex;
  flex-wrap: wrap;
}

.input {
  grid-area: input;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.error-text {
  grid-area: error;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 1rem;
  margin: 0;
  height: fit-content;
}

.required-indicator {
  font-size: 0.7rem;
  margin-left: 4px;
}
